/* General styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}


.section {
  padding: 100px 20px;
  text-align: center;
}

.home-section {
  background: url('./bg2.jpeg') no-repeat center center/cover;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  margin: 0 0 20px;
}


/* About Us section styles */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  text-align: left;
  background-color: black;
  color: white;
  width: 100%;
}

.about-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.about-text {
  flex: 1;
  padding: 20px;
  color: white;
}

.about-text h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.about-text p {
  margin-bottom: 20px;
  line-height: 2.5;
  font-size: large;
  padding-top: 25px;
}

.about-image {
  flex: 1;
  text-align: right;
}

.about-image img {
  max-width: 100%;
  height: 300px;
  border-radius: 10px;
}

/* Features section styles */
.features-section {
  background-color: #000000;
  color: white;
  width: 100%;
}
.features-section h2 {
  font-size: 2.5rem;
  text-align: center;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.feature {
  background-color: rgba(16, 16, 16, 0.755);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(137, 137, 137, 0.523);
  text-align: left;
}

.feature h3 {
  margin-top: 10px;
}

.feature p {
  margin-bottom: 0;
  line-height: 2;
  color: rgb(196, 196, 196);
}

/* Our Work section styles */
.our-work-section {
  background-color: #000000;
  color: white;
  width: 100%;
}

.our-work-section h2 {
  font-size: 2.5rem;
  text-align: center;
}

.our-work-section p {
  margin: 40px 100px;
  line-height: 2.5;
  font-size: 20px;
  
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.project-card {
  background-color: #efefef;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow: hidden; 
}

.project-card img {
  width: 348px;
  height: 300px;
  object-fit: cover; 
  border-radius: 8px 8px 0 0; 
}

.project-card h3 {
  margin-top: 20px;
  color: #000000;
}

.project-card p {
  margin-bottom: 0;
  color: #000000;
}

/* Contact Us section styles */
.contact-section {
  background-color: #000000;
  padding: 80px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.contact-section h2 {
  color: white;
  margin-bottom: 50px;
  font-size: 2.5rem;
}

.contact-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.contact-form {
  flex: 1.2;
  margin-right: 50px;
}

.contact-form form {
  background: rgb(190, 190, 190);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(255, 255, 255);
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 96%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: #575757;
}

.contact-info {
  flex: 1;
  margin-left: 20px;
  color: white;
}

.contact-info h3 {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.1px;
}

.contact-info .info-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  border: #c7c7c7 solid 2px;
  border-radius: 20px;
  background-color: #7f7f7f4d;
  padding: 20px;
}

.contact-info .info-item i {
  margin-right: 20px;
}

.contact-info a {
  color: white;
  text-decoration: none;
  letter-spacing: 1.3px;
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-info p {
  margin: 0;
  letter-spacing: 1.3px;
}
